body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* Header */

.header {
  background-color: #ffffff;
  padding-top: 25.5px;
  padding-bottom: 25.5px;
}

.hader-navigation {
}

.hader-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.hader-logo-text {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.hader-list {
}
.hader-menu {
}

.hader-menu-item {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.hader-menu-item:hover,
.hader-menu-item:focus {
  color: #404bbf;
}

.hader-address {
  font-style: normal;
}

.hader-address-item-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.hader-address-list {
}

.hader-address-item-link:hover,
.hader-address-item-link:focus {
  color: #404bbf;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

/* Section 1 */

section {
  padding: 120px 120px;
}
.hero {
  background-color: #2e2f42;
}

.hero-container {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  flex-shrink: 0;
}

.hero-title {
  color: #fff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
}
.hero-button {
  background-color: #4d5ae5;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: inline-flex;
  padding: 16px 32px;
  margin-top: 48px;
  align-items: flex-start;
  gap: 10px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
.hero-button-text {
}

/* Section 2 */

.advantages-company {
}

.advantages-company-container {
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-company-list {
  display: flex;
  gap: 24px;
}
.advantages-company-item {
}
.advantages-company-item-title {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.advantages-company-item-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

/* Section 3 */

.team-company {
  background-color: #f4f4fd;
}

.team-company-container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-company-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 72px;
}

.team-company-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.team-company-item {
  background-color: #ffffff;
}
.team-company-img {
}
.team-company-item-title {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-top: 32px;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.team-company-item-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  text-align: center;
}

/* Section 4 */

.portfolio-company {
  background-color: #ffffff;
}

.portfolio-company-container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-company-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-company-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.portfolio-company-item {
  background-color: #fff;
  margin-bottom: 48px;
}
.portfolio-company-img {
}
.portfolio-company-item-title {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-company-item-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer */

.footer {
  background-color: #2e2f42;
}

.footer-container {
  padding: 100px 1020px 100px 156px;
  height: 312px;
  flex-shrink: 0;
}

.footer-link {
  color: #4d5ae5;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-flex;
  height: 24px;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 17.5px;
}

.footer-link-text {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}
